html
{
    font-family: calibri;
    background-image: linear-gradient(#0B0C41,#131A61);
    color:whitesmoke;
}
#headd,#demo
{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 55px;
    text-align: center;
}
#imglogo
{
    width:13%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#playerselect,#playerselectcsk,#playerselectdd,#playerselectrcb
{
    text-align:left;
    background-color: #0A0938;
    border: 0.5px solid black;
    color: white;
    padding: 25px 70px;
    display: inline-block;
    font-size: 16px;
    position: relative;
    left: 45px;
}
#playerselectcsk:hover 
{
    background-color:rgb(231, 231, 18);
}
#playerselect:hover
{
    background-color:#4B49CA;
}
#playerselectdd:hover
{
    background-color:#8b0c0c;
}
#playerselectrcb:hover
{
    background-color:#BB0A0A;
}
#test
{
    position: -webkit-sticky;
    position: sticky;
    top:30px;
}
#jatinsxi
{
    text-align: right;
    font-size: 35px;
    position: relative;
    right: 170px;
}
#playerselected
{
    font-size: 26px;
    text-align:right;
    background-color: #0A0938;
    /*border: 0.5px solid black;*/
    position: absolute;
    right:170px;
}